<div class="page-header">
  <h1>Pages#home</h1>

</div>

<% @articles.each do |article| %>
  <article>
    <h2><%= link_to article.title, article %></h2>
    <%= simple_format truncate article.body, length: 500 %>

  </article>
<% end %>
